h1{
    color: rgb(67, 42, 165);
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: beige;
    justify-content: space-around;
}
li{
    padding: 20px;
}
li:hover{
    background-color: rgb(67, 42, 165);
    color: aliceblue;
}